{% extends 'base.html.twig' %}

{% block title %}Подробная информация{% endblock %}

{% block body %}

    <div class="container bgcont center-block">
        <div class="center-block">
            <h1>Публичная страница. <br> Подробная информация.</h1>
            <div class = "row justify-content-center align-items-center">
                <div class="captions">Подразделение</div>
            </div>
            <div class = "row justify-content-center align-items-center">
                <table class="table-bordered table-hover">  
                    <tr class="table-primary">
                        <th>№</th>
                        <th>Наименование</th>
                        <th>Адрес</th> 
                        <th>Директор</th>  
                    </tr>
                    {% for subdivision in subdivisions %}
                        {% if subdivision.id == subdivision_id %}
                            <tr class="table-secondary">
                                <td> {{ subdivision.id }} </td>
                                <td> {{ subdivision.title }}</td>
                                <td> {{ subdivision.address }}</td> 
                                <td> {{ subdivision.director }}</td> 
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                
            </div>
            <div class = "row justify-content-center align-items-center">
                    <form action="/">
                        <button class="btn btn-primary" type="submit">На главную</button>
                    </form>
                </div>
        </div>
    </div>
{% endblock %}
