{% extends 'base.html.twig' %}

{% block title %}Подробная информация{% endblock %}

{% block body %}

    <div class="container bgcont center-block">
        <div class="center-block">
            <h1>Публичная страница. <br> Подробная информация.</h1>
            <div class = "row justify-content-center align-items-center">
                <div class="captions">Сотрудник</div> 
            </div>
            <div class = "row justify-content-center align-items-center">
                <table class="table-bordered table-hover">  
                    <tr class="table-primary">
                        <th>№</th>
                        <th>Ф.И.О</th>
                        <th>Дата рождения</th> 
                        <th>Фото</th>  
                    </tr>
                    {% for employee in employees %}
                        {% if employee.id == employeer_id %}
                            <tr class="table-secondary">
                                <td> {{ employee.id }} </td>
                                <td> {{ employee.fio }}</td>
                                <td> {{ employee.bdate|date("d/m/Y") }}</td> 
                                <td> <img src="\uploads\images\products\{{ employee.image }}" width="128" height="128" alt="Фото"></td> 
                            </tr>  
                        {% endif %}
                    {% endfor %}
                </table>
             
            </div>
            <div class = "row justify-content-center align-items-center">
                <form action="/">
                    <button class="btn btn-primary">На главную</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
